<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <span class="title pad-left-right">Systems</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input
                class="form-control"
                type="text" #searchBox
                (keyup)="search(searchBox.value)"
                placeholder="Enter a search value"/>
              <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New System</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="panel-body">
      <div class="row">
         <div class="col-xs-12">
          <app-system-item
            *ngFor="let system of systems | systemsFilter:term"
            [system]="system">
          </app-system-item>
         </div>
      </div>
   </div>
</div>
